# Database (Supabase)
DATABASE_URL="postgresql://postgres.hzpaszcxowpvrjwtwgnl:lpokmoppo1234@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.hzpaszcxowpvrjwtwgnl:lpokmoppo1234@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

# JWT
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Mapbox
MAPBOX_ACCESS_TOKEN=pk.your_mapbox_token_here
